
/* Navigation */

#main-nav .social {
  display: none;
}

#main-nav .container {
  grid-template-columns: 1fr;
  grid-gap: 1.2rem
}

#main-nav ul ,
#main-nav .logo
 {
  justify-self: center;
}

#main-nav ul li a {
  margin: 0 0.5rem;
  padding: 0.5rem;
}

/* Home Articles */

#home-articles .articles-container {
  grid-template-columns: repeat(2, 1fr);
}

#home-articles .articles-container > *:first-child,
#home-articles .articles-container > article:last-child{
  grid-template-columns: 1fr;
  grid-column: 1;
}

@media (max-width: 600px) {
  #showcase .showcase-container,
  #home-articles .articles-container
  {
    grid-template-columns: 1fr;
  }

  #main-footer .footer-containner {
    grid-template-columns: 1fr;
  }

  /* Must do clear span  */
  #main-footer .footer-containner > div:last-child {
    grid-column: 1;
  }

  /* Add Border Bottom  */
  #main-footer .footer-containner > *:first-child,
  #main-footer .footer-containner > *:nth-child(2)
  {
    border-bottom: #444 dotted 2px;
    padding-bottom: 1rem;
  }

  /* About page*/

  .page-container {
    grid-template-columns: 1fr;
  }

  /* Must do clear span  */
  .page-container > *:first-child {
    grid-row: 1;
  }

  .lg-heading {
    font-size: 1.5rem;
  }

  /* article page */

  #article .meta {
    flex-direction: column;
  }

  #article .meta small {
    font-size: 0.60rem;
  }

  #article .category {
    display: block;
    width: 80%;
    text-align: center;
  }

}